/* GENERICS */
:root {
  /* PALETTE COLORI */
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  --background: #252525;
  --footer: #282828;
  --text: #333333;
  --fluo: #adff2f;
  --empty: #5a5a5a;
  --filler: #c1c1c1;

  /* MISURE STANDARD */
  --margin-s: 5px;
  --margin-m: 15px;
  --margin-l: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  background-color: var(--black);
}

img {
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* UTILS */
.invisible {
  display: none;
}

.flex {
  display: flex;
}

.container {
  padding: 0 var(--margin-m);
}

/* BAR */
.progress-bar {
  max-width: 300px;
  min-width: 80px;
}

.progress-bar.small {
  max-width: 150px;
  min-width: 50px;
}

.bar-empty {
  width: 100%;
  height: 3px;
  background-color: var(--empty);
  border-radius: 10%;
  position: relative;
}

.bar-filler {
  width: 30%;
  height: 3px;
  background-color: var(--filler);
  border-radius: 25%;
  position: absolute;
  left: 0;
  top: 0;
}

.filler-ball {
  display: none;
  background-color: var(--white);
  height: 10px;
  width: 10px;
  border-radius: 50%;

  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* STRUCTURE */
/* SIDE_BAR */
#side-bar {
  background-color: var(--black);
  color: var(--empty);
  width: 300px;
  padding: 0 1rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 80px;
  z-index: 10;
}

#side-bar .row {
  height: calc(100vh - 80px);

  flex-direction: column;
  justify-content: space-between;
}

/* STYLE */
/* SIDE-ST */
.col-top .side-st .image {
  height: 80px;
}

.side-st .image img {
  width: 50%;
}

.side-st .items {
  display: flex;
  align-items: center;
  gap: 5px;

  margin-bottom: 10px;
}

.side-st .items-svg {
  height: 30px;
}

.side-st .items p {
  font-weight: bold;
}

/* SIDE-ND */
.side-nd h4 {
  color: var(--white);
  margin: 20px 0;
}

.side-nd ul.flex {
  font-weight: bold;
  flex-direction: column;
  gap: 10px;
  height: 35vh;
  overflow: auto;
}

.side-nd li:first-child {
  margin: 20px 0;
}

.side-nd li:first-child i {
  font-size: 50px;
  margin-right: 5px;
}

/* COL_BOTTOM */
.col-bottom {
  display: flex;
  flex-direction: column;
}

.col-bottom .items {
  padding: 10px 0;
  display: flex;
  gap: 5px;
}

.col-bottom .items:first-child {
  border-bottom: 1px solid var(--filler);
}

.col-bottom .items-svg {
  height: 20px;
}

/* !DA RIVERERE */
.col-bottom .items-svg img {
  width: 20px;
  background-color: var(--empty);
  border-radius: 50%;
}

/* MAIN */
#main {
  position: relative;
  width: calc(100% - 300px);
  height: calc(100vh - 80px);
  left: 300px;

  flex-direction: column;
}

/* HEADER-MAIN */
#header-main {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  position: sticky;
  top: 0;
  right: 0;
  left: 300px;

  padding: 1rem;
}

#header-main .row {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#header-main .row a {
  color: var(--white);
}

.btn {
  padding: 10px 20px;
  border: 3px solid var(--white);
  border-radius: 30px;
}

/* MAIN_CONTENT */
#main-content {
  background-color: var(--background);
}

/* NAV-MAIN */
#main-content .nav-main {
  color: var(--empty);
  line-height: 50px;
}

#main-content ul {
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* RECENT */
#recent {
  width: 100%;
  color: var(--white);
  padding: 0 1rem;
}

#recent > h3 {
  margin: 20px 0;
}

#recent .row {
  margin: 0 -0.5rem;
}

#recent .col {
  width: calc(100% / 6);
  margin: 0 0.5rem;
  min-height: 120px;
}

#recent .cards-image {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  margin-bottom: 10px;
}

#recent .cards p {
  color: var(--empty);
}

#recent .cards-image.first {
  background-image: url(../img/metal_lifting.jpg);
}

#recent .cards-image.second {
  background-image: url(../img/stranger.jpeg);
}

#recent .cards-image.third {
  background-image: url(../img/aquietplace.jpeg);
}

#recent .cards-image.fourth {
  background-image: url(../img/split.jpeg);
}

#recent .cards-image.fifth {
  background-image: url(../img/cure.jpeg);
}

#recent .cards-image.sixth {
  background-image: url(../img/sinister.jpeg);
}

/* USER */
#user {
  width: 100%;
  color: var(--white);
  padding: 0 1rem;
}

#user > h3 {
  margin: 20px 0;
}

#user > p {
  color: var(--empty);
}

#user .row {
  margin: 0 -0.5rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

#user .col {
  width: calc(100% / 6);
  margin: 0 0.5rem;
  min-height: 120px;
}

#user .cards-image {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  margin-bottom: 10px;
}

#user .cards p {
  color: var(--empty);
}

#user .cards-image.first {
  background-image: url(../img/radar.jpeg);
}

#user .cards-image.second {
  background-image: url(../img/mixdaily.jpeg);
}

/* POP */
#pop {
  width: 100%;
  color: var(--white);
  padding: 0 1rem;
  margin-bottom: 100px;
}

#pop > h3 {
  margin: 20px 0;
}

#pop > p {
  color: var(--empty);
}

#pop .row {
  margin: 0 -0.5rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

#pop .col {
  width: calc(100% / 6);
  margin: 0 0.5rem;
  min-height: 120px;
}

#pop .cards-image {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 10px;
}

#pop .cards p {
  color: var(--empty);
}

#pop .cards-image.first {
  background-image: url(../img/youg.jpeg);
}

#pop .cards-image.second {
  background-image: url(../img/einaudi.jpeg);
}

/* FOOTER */
#footer {
  background-color: var(--footer);
  color: var(--filler);
  height: 80px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;

  flex-direction: column;
  justify-content: center;
}

#footer .row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-left .image {
  margin-right: 10px;
}

#footer .col {
  flex-direction: row;
  justify-content: space-between;
}

#footer .col:first-child {
  gap: 30px;
}

#footer .col:nth-child(2) {
  flex-direction: column;
  justify-content: center;
}

#footer .col:last-child {
  align-items: center;
  gap: 20px;
}

.card-left {
  align-items: center;
}

.card-right {
  flex-direction: row;
  align-items: center;
}

.card-right .icons {
  margin: 10px;
}

.card-top {
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}

.card-bottom {
  justify-content: center;
  align-items: center;
}

/* STYLE */
#footer .card-left .image {
  width: 30px;
  height: 30px;
}

.card-left .exhibit h5 {
  color: var(--white);
  font-size: 12px;
}

.card-left .exhibit p {
  font-size: 10px;
}

.card-top .icons:nth-child(3) {
  font-size: 28px;
}

.card-bottom .bar {
  width: 350px;
}

.card-bottom .clock {
  font-size: 10px;
  padding: 0 20px;
}

/* MEDIA QUERY */

/* MD */
@media screen and (max-width: 878px) {
  /* FOOTER */
  #footer .col:first-child {
    gap: 15px;
  }

  #footer .col:last-child {
    gap: 10px;
  }

  .card-top {
    gap: 15px;
  }

  /* RECENT */
  #recent .row {
    flex-wrap: wrap;
  }

  #recent .col {
    width: calc((100% - 4rem) / 4);
    min-height: 100px;
  }

  /* USER */
  #user .row {
    flex-wrap: wrap;
  }

  #user .col {
    width: calc((100% - 4rem) / 4);
    min-height: 100px;
  }

  /* POP */
  #pop .row {
    flex-wrap: wrap;
  }

  #pop .col {
    width: calc((100% - 4rem) / 4);
    min-height: 100px;
  }
}

/* S */
@media screen and (max-width: 639px) {
  /* FOOTER */
  .card-right {
    flex-direction: column;
    justify-content: center;
  }

  /* RECENT */
  #recent .row {
    flex-wrap: wrap;
  }

  #recent .col {
    width: calc((100% - 2rem) / 2);
    min-height: 100px;
  }

  /* USER */
  #user .row {
    flex-wrap: wrap;
  }

  #user .col {
    width: calc((100% - 2rem) / 2);
    min-height: 100px;
  }

  /* POP */
  #pop .row {
    flex-wrap: wrap;
  }

  #pop .col {
    width: calc((100% - 2rem) / 2);
    min-height: 100px;
  }
}

/* XS */
@media screen and (max-width: 552px) {
  /* A-SIDE */
  #side-bar {
    width: 50px;
  }

  #side-bar .row.invisible {
    display: flex;
  }

  #side-bar .row.flex {
    display: none;
  }

  #side-bar .row.invisible .col-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .col-top .image {
    height: 30px;
    margin-top: 20px;
  }

  .col-top .items {
    height: 25px;
    width: 25px;
  }

  .col-bottom .items:first-child {
    border: none;
  }

  /* MAIN */
  #main {
    left: 50px;
    width: calc(100% - 50px);
  }
}

/* DEBUG */
/* .bordered {
  border: 1px dashed red;
}

.bc-blue {
  background-color: blue;
  min-height: 50px;
  min-width: 50px;
}

.bc-red {
  background-color: green;
  min-height: 20px;
  min-width: 20px;
} */
