/* GENERICS */
:root {
  /* PALETTE COLORI */
  --white: #ffffff;
  --black: lightblue;
  --background: #141922;
  --footer: #282828;
  --text: #333333;
  --fluo: #adff2f;
  --empty: #5a5a5a;
  --filler: #c1c1c1;

  /* MISURE STANDARD */
  --margin-s: 5px;
  --margin-m: 15px;
  --margin-l: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

/* UTILS */
.invisible {
  display: none;
}

.flex {
  display: flex;
}

.container {
  padding: 0 var(--margin-m);
}

/* BAR */
.bar {
  width: 110px;
  min-width: 80px;
  position: relative;
}

.empty {
  width: 100%;
  height: 3px;
  background-color: var(--empty);
  border-radius: 10%;
}

.filler {
  width: 30%;
  height: 3px;
  background-color: var(--filler);
  border-radius: 25%;
  position: absolute;
  left: 0;
  top: 0;
}

/* STRUCTURE */
/* SIDE_BAR */
#side-bar {
  background-color: var(--black);
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 80px;
  z-index: 10;
}

#side-bar .row {
  height: calc(100vh - 80px);

  flex-direction: column;
  justify-content: space-between;
}

#side-bar .col {
  width: 100%;
  padding: 1rem;
}

/* MAIN */
#main {
  position: relative;
  width: calc(100% - 300px);
  height: calc(100vh - 80px);
  left: 300px;

  flex-direction: column;
}

/* MAIN_CONTENT */
#main-content ul {
  justify-content: center;
  flex-wrap: wrap;
}

/* FOOTER */
#footer {
  background-color: var(--footer);
  color: var(--filler);
  height: 80px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;

  flex-direction: column;
  justify-content: center;
}

#footer .row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-left .image {
  margin-right: 10px;
}

#footer .col {
  flex-direction: row;
  justify-content: space-between;
}

#footer .col:nth-child(2) {
  flex-direction: column;
  justify-content: center;
}

#footer .col:last-child {
  align-items: center;
}

.card-left {
  align-items: center;
  margin-right: 35px;
}

.card-right {
  flex-direction: row;
  align-items: center;
}

.card-right .icons {
  margin: 10px;
}

.card-top {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-top .icons {
  margin: 0 20px;
}

.card-bottom {
  justify-content: center;
  align-items: center;
}

.col:last-child .icons {
  margin: 10px;
}

/* STYLE */
#footer .card-left .image {
  width: 30px;
  height: 30px;
}

.card-left .exhibit h5 {
  color: var(--white);
  font-size: 16px;
}

.card-left .exhibit p {
  font-size: 10px;
}

.card-top .icons:nth-child(3) {
  font-size: 28px;
}

.card-bottom .bar {
  width: 350px;
}

.card-bottom .clock {
  font-size: 10px;
  padding: 0 20px;
}

/* MEDIA QUERY */

/* XS */
@media screen and (max-width: 552px) {
  /* A-SIDE */
  #side-bar {
    width: 50px;
  }

  #side-bar .row.invisible {
    display: flex;
  }

  #side-bar .row.flex {
    display: none;
  }

  /* MAIN */
  #main {
    left: 50px;
    width: calc(100% - 50px);
  }
}

/* S */
@media screen and (max-width: 639px) {
  /* FOOTER */
  .card-right {
    flex-direction: column;
    justify-content: center;
  }
}

/* MD */
@media screen and (max-width: 878px) {
}

/* DEBUG */
.bordered {
  border: 1px dashed red;
}

.bc-blue {
  background-color: blue;
  min-height: 50px;
  min-width: 50px;
}

.bc-red {
  background-color: green;
  min-height: 20px;
  min-width: 20px;
}
